<div class="my-3">
    <h2>From event</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Add</div>
                <div class="card-body">
                    <button class="btn btn-primary" #bttn>
                        Add
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">list</div>
                <div class="card-body">
                   <ul id="elcontainer">
                   
                   </ul>
                </div>
            </div>
        </div>
    </div>
</div>